body {
    margin: 0; /* Bewirkt, dass es keinen Rand mehr gibt */
    font-family: Verdana, Tahoma, sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
}

li {
     float: right;
}

.top-bar a {
    display: flex;
    color: #123676;
    background: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 11px;
}

.CoreBar > div {
    margin: auto;
}

.CircleDiv {
    width: 50%;
    display: flex;
}

.Logo {
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
}

.HrefDiv {
    width: 50%;
}

.HrefDiv a {
    display: flex;
    color: #123676;
    background: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
    font-weight: bolder;
  }

.flex-container {
    display: flex;
}

.flex-container > div { /* Alle Divs welche sich im Flex-Container befinden */
    margin: auto;
    padding: auto;
    font-size: 15px;
}

.TopDiv {
    border-bottom-style: solid;
}

.CoreBar {
    display: flex;
    margin: auto;
    padding: auto;
}

.Space {
    width: 0.5%;
}

.CircleDiv {
    display: flex;
    width: 49.5%;
}



/*  ** Leere Platzhalter um das Scrollem zu simulieren ** */
.EmptyBlock {
    background: rgb(14, 236, 225);
    height: 2500px;
}
/* ** Leere Platzhalter um das Scrollem zu simulieren ** */

.attention-icon {
    background-repeat: no-repeat;
    width: 15px;
    height: 15px;
}

#waterImage {
    height: 50px;
}

#attention-bar {
    background: #FFEB00;
    height: attention-text; /* Die Höhe des Paragraphen wird genommen */
}


#leftAttention {
    background: url(Elemente/attention.svg);
}


#rigtCross {
    background: url(Elemente/cross.svg);
}


#leftCircle {
    background: url(Elemente/logo.svg);
}
